---
const { title, url } = Astro.props
---

<style>
    a {
      color: #003cff;
    }
  
    li {
      display: flex;
      flex-wrap: wrap;
    }
  
    a {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>

<li><a href={url}>{title}</a></li>